<section class="min-h-screen bg-gray-100 text-gray-900 flex items-center justify-center px-4 sm:px-6 py-12 sm:py-20" id="about">
  <div class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6 md:gap-12">
    <div class="w-64 h-64 sm:w-80 sm:h-80 rounded-full overflow-hidden shadow-lg mb-6 md:mb-0 md:mr-8 animate__animated animate__fadeIn animate__delay-1s">
      <img src="assets/foto_xoel.jpg" alt="Foto de Xoel" class="w-full h-full object-cover" />
    </div>

    <div class="flex-1 text-center md:text-left space-y-4">
      <h2 class="text-3xl sm:text-4xl font-bold mb-4 text-cyan-400 animate__animated animate__fadeIn animate__delay-1s">
        {{ 'about.title' | translate }}
      </h2>
      <p class="text-base sm:text-lg text-gray-700 animate__animated animate__fadeIn animate__delay-1s">
        {{ 'about.p1' | translate }}
      </p>
      <p class="text-base sm:text-lg text-gray-700 animate__animated animate__fadeIn animate__delay-2s">
        {{ 'about.p2' | translate }}
      </p>
      <p class="text-base sm:text-lg text-gray-700 animate__animated animate__fadeIn animate__delay-3s">
        {{ 'about.p3' | translate }}
      </p>

      <div class="mt-10 text-center md:text-left">
        <a href="assets/cv_xoel.pdf" download="CV Xoel Gomez"
          class="inline-block px-5 py-3 sm:px-6 sm:py-3 bg-cyan-400 text-white rounded-full font-semibold text-base sm:text-lg shadow-lg hover:bg-cyan-500 hover:shadow-2xl transition duration-300 ease-in-out transform hover:scale-105 animate__animated animate__fadeIn animate__delay-4s">
          {{ 'about.download_cv' | translate }}
        </a>
      </div>
    </div>
  </div>
</section>