.home-section {
    height: 100vh;
    background: linear-gradient(to bottom right, #121212, #1e1e2f);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 100px;
  
    .content {
      text-align: center;
      max-width: 800px;
  
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
  
      h2 {
        font-size: 1.5rem;
        color: #00bcd4;
        margin-bottom: 1rem;
      }
  
      p {
        font-size: 1.1rem;
        margin-bottom: 2rem;
      }
  
      .btn-contacto {
        background-color: #00bcd4;
        color: #121212;
        padding: 0.8rem 1.5rem;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
      }
  
      .btn-contacto:hover {
        background-color: #0097a7;
      }
    }
    
    @keyframes bounceX {
      0%, 100% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-6px);
      }
      50% {
        transform: translateY(3px);
      }
      75% {
        transform: translateY(-3px);
      }
    }
    
    .animate-bounceX {
      animation: bounceX 0.6s ease-in-out;
    }
    
    
  }  