<section id="experience" class="min-h-screen bg-gray-100 text-gray-900 flex items-center justify-center px-4 sm:px-6 py-12 sm:py-20">
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-3xl sm:text-4xl font-bold text-cyan-400 mb-8">{{ 'experience.title' | translate }}</h2>

    <div class="flex justify-center">
      <div class="bg-white p-6 sm:p-8 rounded-xl shadow-xl hover:shadow-2xl transform hover:scale-105 transition duration-300 ease-in-out w-full md:w-2/3 lg:w-1/2">
        <h3 class="text-2xl sm:text-3xl font-semibold text-cyan-400 mb-4">{{ 'experience.card.title' | translate }}</h3>
        <p class="text-sm text-gray-500 mb-2">{{ 'experience.card.company' | translate }}</p>
        <p class="text-base sm:text-lg text-gray-700 mb-4">{{ 'experience.card.description' | translate }}</p>
        <p class="text-sm text-gray-500">{{ 'experience.card.date' | translate }}</p>
      </div>
    </div>
  </div>
</section>